{% extends "base.html" %}

{% block content %}
  <h1>Tags List</h1>
      {% if tags_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for tag in tags_list %}
        <tr>
          <td>
              {{ tag.name }}
          </td>
          <td>
              <a href="{% url 'todo_app:tag-update' pk=tag.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'todo_app:tag-delete' pk=tag.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tags in the service.</p>
  {% endif %}
{% endblock %}